.itc-slider {
  position: relative;
}

.itc-slider-wrapper {
  overflow: hidden;
}

.itc-slider-items {
  display: flex;
  width: 90vw;
  transition: transform 0.5s ease;
  will-change: transform;
}

.itc-slider-transition-none {
  transition: none;
}

.itc-slider-item {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 10vw 0 10vw;
  will-change: transform;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.itc-slider-btn {
  position: absolute;
  top: 50%;
  background-color: transparent;
  cursor: pointer;
  scale: 200%;
  margin: 20px;
}

.itc-slider-btn:active {
  background-color: transparent;
}

.itc-slider-btn-hide {
  display: none;
}

.itc-slider-btn-prev {
  left: 0;
}

.itc-slider-btn-next {
  right: 0;
}

.itc-slider-btn:hover,
.itc-slider-btn:focus {
  background-color: transparent;
  text-decoration: none;
  outline: 0;
}

.itc-slider-btn::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.itc-slider-indicators {
  position: absolute;
  z-index: 15;
  display: flex;
  justify-content: center;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding-top: 10px;
  height: 40px;
  text-align: center;
}

.itc-slider-indicator {
  flex: 0 1 auto;
  box-sizing: content-box;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  margin: 65px 8px 3.5px;
  background-color: rgba(34, 34, 34, 0.4);
  cursor: pointer;
}

.itc-slider-indicator-active {
  background-color: #222;
}