* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gothic A1', sans-serif;
    color: #fff;
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
    color: #333;
    line-height: 20px;
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 10vh;
    line-height: 10vh;
    font-weight: 700;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 38px;
    line-height: 48px;
    font-weight: 700;
}

h3 {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 40px;
    font-weight: 400;
}

/* ANIMATION */

.element-animation {
    opacity: 0;
    transform: translateY(30px);
}

.element-animation.element-show {
    opacity: 1;
    transform: translateY(0px);
    transition: 1s;
}

.header_img.element-animation {
    opacity: 0;
    transform: translateY(50px);
}

.header_img.element-animation.element-show {
    opacity: 1;
    transform: translateY(0px);
    transition: 2s;
}

.features_content.element-animation {
    transform: translateY(30px);
}

.features_content.element-animation.element-show {
    opacity: 1;
    transform: translateY(0px);
    transition: 0.7s;
}

/* NAV */

.header_nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    align-items: center;
    padding: 0 10vw;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 100;
}

.logo_container {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.nav_logo {
    margin-top: 5px;
    width: 120px;
}

.nav_links {
    display: flex;
}

.nav_link {
    margin: 0 15px 20px;
    padding: 40px 0 20px 0;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
    text-decoration: none;
}

.nav_link:last-child {
    margin-right: 0%;
}

.nav_link:hover {
    box-shadow: inset 0 -5px 0 0 #fc0a7e;
}


/* HEADER */

.header {
    height: 100vh;
    padding-right: 10vh;
    padding-left: 10vw;
    display: flex;
    align-items: flex-end;
    z-index: 99;
    background-image: linear-gradient(135deg, #dd1173, #350e47);
}

.header_content {
    position: relative;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.header_title {
    width: 80vw;
}

.subtitle {
    max-width: 60%;
    color: #fff;
    font-size: 30px;
    line-height: 44px;
}

.header_btn {
    background-color: #fc0a7e;
    padding: 20px 40px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    cursor: pointer;
    transition: background-color 500ms cubic-bezier(.789, .159, .25, 1), color 200ms cubic-bezier(.789, .159, .25, 1);
}

.header_btn:hover {
    background-color: white;
    color: #6b6b6b;
}

.header_img {
    z-index: 5;
    height: 85vh;
    position: absolute;
    right: 3vw;
    justify-content: center;
    align-items: center;
}

.header_arrow {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 30px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}


/* ABOUT */

.about {
    background-color: #1b1b1b;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
    line-height: 20px;
}

.about_img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.title {
    color: #a8a8a8;
    font-size: 12px;
    letter-spacing: 2px;
    padding-bottom: 5px;
    display: inline-block;
}

.about_container {
    display: block;
    max-width: 700px;
    padding: 20px 0 40px 0;
    text-align: center;
}

.about_img_wrap {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


/* FEATURES */

.features img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.features p {
    margin-bottom: 10px;
    color: #6b6b6b;
    font-size: 16px;
    line-height: 30px;
}

.features_title {
    color: #a8a8a8;
}

.features,
.features_container,
.features_content {
    display: flex;
}

.features {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features_container {
    display: flex;
    width: 90vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding-right: 10vw;
    padding-left: 10vw;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.features_content {
    flex-direction: column;
    width: 50vw;
    max-width: 450px;
    padding-right: 4vw;
    padding-left: 4vw;
    flex: 0 0 auto;
}

.features_img {
    display: flex;
    width: 50vw;
    justify-content: center;
    align-items: center;
}

.img2 {
    display: flex;
    flex: 0 0 auto;
}